doctype html
html(lang="en")
  head
    include ../header.pug
    head
      title Tarea
    body
      include ../navbar.pug
      .section#app
      script(src="/js/searchsResult.js")
    include ../footer
