footer.footer.has-background-primary
  .container
    .content.has-text-centered
      p
        strong Porthos
        |  por
        |
        a.has-text-light(href='#') Kamikaze inc.&nbsp;&nbsp;
        span  Código fuente con licencia&nbsp;
        |
        a.has-text-light(href='#') MIT
        | .
      nav.breadcrumb.has-dot-separator.is-centered(aria-label='breadcrumbs')
        ul
          li
            a.has-text-light(href='#') Aviso de Privacidad
          li
            a.has-text-light(href=gUrl + 'faq') FAQ
          li
            a.has-text-light(href='#') Términos y condiciones
//- script(defer='', src='../js/fontawesome-all.js')
script(src="https://apis.google.com/js/platform.js" async defer)
