meta(charset='UTF-8')
meta(name="google-signin-client_id" content="933231898225-11jt7ssk2eg02tnnrr4ba7vbv0ietfcc.apps.googleusercontent.com")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
link(rel='stylesheet' href='/bulma/bulma.css')
link(rel="stylesheet", href="/fontawesome/css/fontawesome.css")
link(rel="stylesheet", href="/fontawesome/css/solid.css")
link(rel='icon', type='image/png', href='/content/porthos3.png', sizes='32x32')
link(rel='stylesheet' href='/fontawesome/css/brands.css')
script(src='/vuejs/vue.js')
script(src="/js/axios.min.js")
  //- //933231898225-11jt7ssk2eg02tnnrr4ba7vbv0ietfcc.apps.googleusercontent.com

  //-HeroKu: 675051891025-rkeemieieghmi5gnvh8gvcg7bo83unl0.apps.googleusercontent.com