include header.pug
  head
    title Porthus
  body
    include navbar.pug
    each task in tasks
      article.media
        figure.media-left
          p.image.is-64x64
            img(src='https://bulma.io/images/placeholders/128x128.png')
        .media-content
          .content
            p
              strong #{task.name}
              small @johnsmith
              small 31m
              br
              |         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          nav.level.is-mobile
            .level-left
              a.level-item
                span.icon.is-small
                  i.fas.fa-reply
              a.level-item
                span.icon.is-small
                  i.fas.fa-retweet
              a.level-item
                span.icon.is-small
                  i.fas.fa-heart
        .media-right
          button.delete
    p#status
    include footer.pug
script(src="/js/fb.js")
script(src="/js/home.js")