doctype html
html(lang="en")
  head
    include header.pug
    title Tarea
  body
    include navbar.pug
    .section#main
      .columns
        .column.is-4(style="border: 1px solid #333")
          h1 Index
        .column.is-8
          h1 Index
  include footer.pug