doctype html
html(lang="en")
  head
    include header.pug
    title Porthos
  body
    include navbar.pug
    .section#app
      .columns.is-centered
        .column.is-three-fifths
          h1.title.is-2 Porthos
          h1.subtitle.is-5.has-text-justified Te encuentras en una plataforma que pretende ser el medio por el cual enriquecer trabajos, investigaciones y todo tipo de proyectos através de la opinión y aportación de la comunidad.
          h1.subtitle.is-5.has-text-right "Todos para uno y uno para todos" 
          h1.subtitle.is-6.has-text-right  - Alejandro Dumas -
          .hero-body.has-text-centered
            h1.subtitle.is-6 Únete, no seas culo :v
            .columns.is-mobile.is-centered
              .column
                .field.has-addons.has-icons-left
                  .control.is-expanded.has-icons-left
                    input#txtSearch.input.is-primary(type="text" 
                      placeholder="Encontrar trabajos, tareas, proyectos..." autofocus v-model="searchText")
                    span.icon.is-small.is-left
                      i.fa.fa-search
                  .control
                    button#search.button.is-success(@click="search") Buscar
            h1.subtitle.is-5 Niveles de estudio
            .control.has-text-centered(style="padding-left: 35px;")
              label(class="radio" v-for="level in levels" class="subtitle is-6") 
                input(type="radio" name="level" :value="level.id")
                span(style="padding-right:30px;") {{level.name}} 
            h1.subtitle.is-5(style="padding-left: 50px;") Áreas
            .columns.has-text-left
              .column.is-offset-2.is-6#area      
              .column.is-6#area2
            
    script(src="/vue/controllers/index.js")
  include footer.pug