script(src="/js/fb.js")
script(src="/js/google.js")
script.
  window.login = '';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '157581398245135',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  function logout () {
    if (window.login == 'fb')
      fbLogout();
    else 
      signOut();
  }
nav#navbar.navbar.is-primary
  .navbar-brand
  .navbar-menu
    .navbar-start
    .navbar-end
      .navbar-item
        .field.is-grouped
          p.control.btn-login
            button.button.is-link(onclick="fbLogin()") Facebok
              //- button.button.is-danger(onclick="document.getElementsByClassName('g-signin2')[0].click()") Google
          p.control
            .btn-login(class="g-signin2" data-onsuccess="onSignIn")
          p.control#logout(style="visibility: hidden")
              button.button.is-dark(onclick='logout()') Salir