script.
  window.logged = false;
  window.login = '';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '157581398245135',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  function logout () {
    if (window.login = 'fb')
      fbLogout();
  }
nav#navbar.navbar.is-primary
  .navbar-brand
  .navbar-menu
    .navbar-start
    .navbar-end
      .navbar-item
        .field.is-grouped
          p.control
            button.button.is-link.btn-login(onclick="fbLogin()") Facebok
            button.button.is-dark#logout(onclick='logout()') Salir
            //- fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
              span
                | Facebook