script(src="/js/fb.js")
script(src="/js/google.js")
script.
  const user = {
    id: '!{user.id}',
    name: '!{user.name.split(" ")[0]}',
    image: '!{user.urlImage}'
  }
  window.login = '';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '157581398245135',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  function logout () {
    if (window.login == 'fb')
      fbLogout();
    else
      signOut();
  }
nav#navbar.navbar.is-primary
  .container.column.is-three-fifths
    .navbar-brand
      a.navbar-item(href='/')
        img(src='/content/logo.png', alt='Porthos', width='112', height='28')
      a.navbar-burger(role='button', aria-label='menu', aria-expanded='false' @click='activeBurger = !activeBurger')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    .navbar-menu(:class="{ 'is-active': activeBurger }")
      .navbar-start
      .navbar-end
        //- a.navbar-item(href='#') Quienes Somos
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link(:href='`/${user.id}`')
            img(:src="user.image" style="border-radius: 50%")
            span &nbsp;{{ user.name }}
          .navbar-dropdown.is-boxed
            a.navbar-item(@click='activeModal = !activeModal' v-if='user.id == ""')
              span.is-icon
                i.fas.fa-sign-in-alt
              span &nbsp;Iniciar Sesi&oacute;n
            div(v-else)
              a.navbar-item(href="/task/create")
                span.is-icon
                  i.fas.fa-plus
                span &nbsp;Crear Documento
              a.navbar-item(onclick='logout()')
                span.is-icon
                  i.fas.fa-sign-out-alt
                span &nbsp;Cerrar Sesi&oacute;n
          //- .navbar-item(onclick='logout()') Login
    .modal(:class="{ 'is-active': activeModal }")
      .modal-background
      .modal-content
        .modal-card
          .box
            .columns.is-centered
              .column.is-half.has-text-centered
                figure.image.is-64x64(style="margin: auto")
                  img(src='/content/porthos3.png')
                br
                h2.subtitle Inicia sesi&oacute;n en Porthos
                .field.is-grouped
                  p.control
                    button.button.is-link(onclick="fbLogin()")
                      span.is-icon.is-medium
                        i.fab.fa-facebook
                      span &nbsp;Facebook
                  p.control
                    div(class="g-signin2" data-onsuccess="onSignIn")
          button.modal-close.is-large(aria-label='close' @click='activeModal = !activeModal')
script.
  const navbar = new Vue({
    el:'#navbar',
    data: {
      activeBurger: false,
      activeModal: false,
      user: user
    }
  })